* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  margin: 15px;
}

main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  /* identical to box height, or 113% */
  letter-spacing: -2px;
  margin-top: 5rem;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  color: #242635;
  max-width: 574px;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
